.user__backdrop {
  width: 100%;
  z-index: -1;
  max-width: none;
}

.user__backdrop--container {
  font-size: 0;
  position: relative;
}

.user__backdrop--overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.20);
}

.profile__avatar {
  position: relative;
  top: -125px;
  border-radius: 36px;
  max-width: 320px;
  font-size: 0;
}

.profile__info--container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 1.75rem;
  padding-top: 1rem;
}

.profile__names h1, p {
  margin: 0;
  padding-bottom: 1rem;
}

.profile__stats p {
  padding-bottom: 1rem;
}

.user__info--section {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 2.5rem;
}