.user__info {
  padding-top: 4rem;
}

.user__backdrop {
  width: 100%;
  height: 75vh;
  z-index: -1;
  max-width: none;
  mix-blend-mode: soft-light;
  object-fit: cover;
}

.user__backdrop--container {
  font-size: 0;
  position: relative;
}

.user__backdrop--overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  // background-color: $primary-black;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

.profile__avatar {
  position: relative;
  top: -125px;
  border-radius: 36px;
  max-width: 320px;
  font-size: 0;
}

.profile__info--container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 1.75rem;
  padding-top: 1rem;
}

.profile__names h1, p {
  margin: 0;
  padding-bottom: 1rem;
  font-weight: 300;
}

.profile__names p {
  color: gray;
}

.profile__stats {
  margin-top: 1rem;
}

.profile__stats p {
  padding-bottom: 1rem;
}

.user__info--section {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
}

.profile__message--container {
  display: flex;
  flex-direction: column;
}

.profile__message--container textarea {
  width: 100%;
  resize: none;
  padding: 0.5rem;
}

.profile__message--container button {
  width: 50%;
  border-radius: 0;
  border: 1px solid #000;
}

#profile__message-btn {
 width: 100%;
 padding-left: 1rem;
 padding-right: 1rem;
 transition: all 0.2s ease-in;
 &:hover {
   background-color: #000;
   color: #fff
 }
}

.userPage__container {
  background-color: #f8f8f8;
}

.userPage__container ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-content: center;
  margin-top: 2rem;
}

.addMovie__btn {
  text-align: right;
  padding-top: 2rem;
}

.addMovie__btn button {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 0;
  transition: all 0.2s ease-in;
  &:hover {
    background-color: #000;
    color: #fff
  }
}

.movie__section--title {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}