.user__backdrop {
  width: 100%;
  z-index: -1;
  font-size: 0;
  max-width: none;
}

.profile__avatar {
  position: relative;
  top: -160px;
  border-radius: 36px;
  max-width: 320px;
  font-size: 0;
}

.profile__info--container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 1.5rem;
  padding-top: 1rem;
}

.profile__names h1, p {
  margin: 0;
  padding-bottom: 1rem;
}

.profile__stats p {
  padding-bottom: 1rem;
}

.user__info--section {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
}