.navigation__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  background-color: #242424;
  height: 4rem; }

.navigation__container .wrapper {
  height: 100%; }

.navigation__container div {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.navigation__container a {
  text-decoration: none;
  color: #4ACA7C; }

.logo {
  font-size: 2rem;
  letter-spacing: 1.5px;
  color: #4ACA7C;
  font-family: 'Wire One', sans-serif; }

.navigation__links a {
  margin-left: 1.5rem;
  transition: all 0.2s ease-in; }
  .navigation__links a:hover {
    color: #fff; }

.navigation__links button {
  color: #fff;
  background-color: #4ACA7C;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 2px;
  height: 2.25rem;
  border: 1px solid #4ACA7C;
  transition: all 0.2s ease-out; }
  .navigation__links button:hover {
    background-color: #242424; }

.user__backdrop {
  width: 100%;
  z-index: -1;
  max-width: none; }

.user__backdrop--container {
  font-size: 0;
  position: relative; }

.user__backdrop--overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); }

.profile__avatar {
  position: relative;
  top: -125px;
  border-radius: 36px;
  max-width: 320px;
  font-size: 0; }

.profile__info--container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 1.75rem;
  padding-top: 1rem; }

.profile__names h1, p {
  margin: 0;
  padding-bottom: 1rem; }

.profile__stats p {
  padding-bottom: 1rem; }

.user__info--section {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 2.5rem; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

/* NORMALIZE */
html, body {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  position: relative; }
